body {
  background-color: #f8f9fa;
  padding-top: 20px;
}

.navbar {
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.navbar .nav-link {
  color: #333;
  font-weight: bold;
}

.navbar .nav-link:hover,
.nav-item.active .nav-link {
  color: #007bff;
  font-weight: 600;
}

.hosgeldin-mesaji {
  background-color: #e9ecef;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.container {
  max-width: 1200px;
}

.card {
  border: none;
  border-radius: 10px;
  background-color: #fff;
}

.cv-bolum {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 25px;
}


.cv-bolum h2 {
  font-size: 1.25rem;
  color: #2c3e50;
  margin-bottom: 10px;
  font-weight: 700;
}

.cv-bolum p,
.cv-bolum li {
  color: #555;
  font-size: 0.95rem;
  margin-bottom: 5px;
}

.cv-bolum ul {
  padding-left: 20px;
  list-style-type: disc;
}
.card-img-top {
  width: 100%;
  height: auto;
  object-fit: contain; 
  background-color: white;
  padding: 1rem; 
}

h1,
h2 {
  color: #2c3e50;
  font-weight: 700;
}

.card-title {
  color: #3498db;
  font-weight: 600;
}

.card-text {
  color: #555;
}

.btn-outline-primary {
  border-color: #3498db;
  color: #3498db;
}

.btn-outline-primary:hover {
  background-color: #3498db;
  color: white;
}

/* Slider */
#orduSlider {
  max-width: 1200px;
  margin: 0 auto;
}

.slider-image {
  height: 500px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .slider-image {
    height: 350px;
  }
}

@media (max-width: 768px) {
  section h2 {
    font-size: 1.4rem;
  }

  section h6 {
    font-size: 1rem;
  }

  section p {
    font-size: 0.9rem;
  }
}
